* {
  margin: 30;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  /* margin: 30px; */
}
input,
button {
  height: 30px;
  margin: 5px;
}
input {
  width: 200px;
}
button {
  width: 100px;
}
ul {
  display: flex;
  flex-direction: column;
}
li {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: 25px;
}
